[loggers]
keys=root,dev

[handlers]
keys=consoleHandler, fileHandler

[formatters]
keys=fileFormatter, consoleFormatter

[logger_root]
level=INFO
handlers=consoleHandler

[logger_dev]
level=DEBUG
handlers=fileHandler
qualname=dev
propagate=0

[handler_consoleHandler]
class=StreamHandler
level=INFO
formatter=consoleFormatter
args=(sys.stdout,)

[handler_fileHandler]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=fileFormatter
args=('api_logs/api.log', 'a', 1000000, 5)

[formatter_consoleFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s - API: %(http_method)s %(request_path)s %(response_status)s %(api_data)s
datefmt=%Y-%m-%d %H:%M:%S

[formatter_fileFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s - API: %(http_method)s %(request_path)s %(response_status)s %(api_data)s
datefmt=%Y-%m-%d %H:%M:%S