/* @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); */


body{
    left: 0;
    top: 0;
    margin: 0;
    
}

.navbar-sm-12{
    font-family: 'Righteous', cursive;
    height: 80px;
    width: 100vw;
    background-color: gray;
    display: flex;
    position: relative;
    /* position: absolute; */
}


.left-sm-6{
    width: 50vw;
    display: flex;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    /* margin: auto; */
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search input{
    padding: 9px 12px;
    border-radius: 25px;
    width: 40%;
    /* font-size:; */
    font-size: 15px;
}

.logo img{
    width: 130px;
    height: 90px;
    opacity: 100;
}

#search-submit{
    width: 80px;
}

.right-sm-4{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.right-sm-4 ul{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    list-style: none;
    position: relative;
}

.right-sm-4 ul li{
    font-size: 1.3em;
    /* padding: 10px 8px; */
    padding-top: 10px;
    margin: 5px 20px;
    position: relative;
}

.right-sm-4 ul li a,.user{
    text-decoration: none;
    color: white;
}

.right-sm-4 ul li:hover{
    position: relative;
    border-bottom: 1px solid white;
    
}

/* -----------------------------------style for user part -----------------------------------*/

.right-sm-4 ul li:nth-child(4){
    margin-left: 18px;
}

#auth-user li:nth-child(2){
    position: relative;
    bottom: 15px;
}

#auth-user{
    display: none;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 80px;
    width: 150px;
    background-color: gray;
    box-shadow: 2px 2px 7px 9px lightgray;
    z-index: 10;
    top: 45px;
    left: -27px;
    font-size: 15px;
  
  }

#auth-user li{
    margin-top: 5px;
    margin-right: 50px; 
    color: black; 
}

#border-none:hover + #auth-user, #auth-user:hover{
    display: flex;
}

#border-none:hover {
    border-bottom: none;
}

.id-user:hover{
    border-bottom: none;
}

/* slider style start */
.slider-sm-12{
  top: 0;
}

.id-user{
    margin-left: 10px;
}

.fa-user-circle-o{
    position: relative;
    margin-right: 10px;
}

/* movie section style --------------------------------------------------------------*/
.movie-sm-12{
  height: auto;
  display: flex;
  /* flex-direction: column; */
  width: 100vw;
  /* margin:; */
}

.showing-sm-70{
    height: auto;
    display: flex;
    width: 85%;
    flex-direction: column;

}

.upcoming-sm-30{
    width: 15%;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.now-showing,.coming-soon{
  display: flex;
  height: 22vw;
  width: 100%;
  flex-direction: column;
}


.heading-sm-12{
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    align-items: center;
    font-weight: bold;
    color: rgb(3, 79, 79);
}
.heading-sm-12 p{
    position: relative;
    font-size: 2em;
}

.movie-list{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-list-upcoming{
    height: 50%;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    flex-direction: column;
}

.list-upcoming{
    height: 80%;
    width: 230px;
    margin: 20px 10px;

}

.list-upcoming img{
    height: 100%;
    width: 100px;
    margin: 5px 10px;
}


.list{
    height: 100%;
    width: 230px;
    margin: 5px 10px;
}

.list img{
    height: 80%;
    width: 100%;
}

.name{
    text-align: center;
    color: black;
}


.footer-sm-12{
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: lightgray;
}



/* register area start--------------------------------------------------------------- */

.register-sm-12{
    height: 80vh;
    width: 90%;
    /* background-color: antiquewhite; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.form-sm-50{
    height: 90%;
    width: 30%;
    background-color: #424147;
    padding: 15px 0px;
    box-shadow: 4px 3px 4px 4px salmon;
    /* display: flex; */
}

.form-sm-12{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-family: 'Righteous', cursive; */
}

.form-sm-50 h3{
    text-align: center;
    color: white;
}

.form-sm-12 label{
    display: inline;
    width: 200px;
    align-self: flex-start;
    position: relative;
    left: 30px;
    margin: 1px 0px;
    color: white;
    font-size: 1.1em;
}

.form-sm-12 input{
    display: block;
    height: 40px;
    padding: 16px 12px;
    width: 70%;
    border-radius: 12px;
    margin-bottom: 12px;
    
    
}

/* #error-messages{
    color: red;
    display: inline;
    /* width: 30%;
    font-size: 10px;
    font-style: italic;
} */

.line-break1{
    color: white;
    border: 1px solid white;
    width: 80%;
    margin: auto;
}

.form-sm-50 button{
    width: 70%;
    height: 40px;
    border-radius: 15px;
    background-color:rgb(88, 200, 163);
    color: white;
}

.form-sm-50 p{
    text-align: center;
    margin-top: 10px;
    color: aqua;
    font-size: 1.2em;
}
.form-sm-50 a{
    text-decoration: none;
    color: yellow;
}

.form-sm-50 a:hover{
    color: white;
}

/* style for profile------------------------------------------------- */
.profile-sm-12{
    height: 100vh;
    width: 90%;
    /* background-color: antiquewhite; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formpro-sm-50{
    height: 90%;
    width: 70%;
    background-color: #424147;
    padding: 10px 0px;
    box-shadow: 4px 3px 4px 4px salmon;
}

.formpro-sm-12 label{
    display: block;
    width: 300px;
    align-self: flex-start;
    position: relative;
    left: 30px;
    margin: 5px 0px;
    color: white;
    font-size: 1.1em;
}

.formpro-sm-12 input{
    display: block;
    height: 40px;
    padding: 16px 12px;
    width: 60%;
    border-radius: 12px;
    margin: auto;
    
    
}

.formpro-sm-50 button{
    display: block;
    width: 70%;
    height: 40px;
    border-radius: 15px;
    background-color:rgb(88, 200, 163);
    color: white;
    margin: 10px auto;
}

/* style for login ---------------------------------------*/

.register-sm-12{
    height: 80vh;
    width: 90%;
    /* background-color: antiquewhite; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



.formlogin-sm-50{
    height: 60%;
    width: 30%;
    background-color: #424147;
    padding: 12px 8px;
    box-shadow: 4px 3px 4px 4px salmon;
    /* display: flex; */
}

.formlogin-sm-12{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-family: 'Righteous', cursive; */
}

.formlogin-sm-50 h3{
    text-align: center;
    color: white;
}

.formlogin-sm-12 label{
    display: block;
    align-self: flex-start;
    position: relative;
    left: 80px;
    margin: 2px 0px;
    color: white;
    font-size: 1.1em;
}

.formlogin-sm-12 input{
    display: block;
    height: 45px;
    padding: 16px 12px;
    width: 70%;
    border-radius: 12px;
    margin-bottom: 12px;
    
    
}

.formlogin-break1{
    color: white;
    border: 1px solid white;
    width: 80%;
    margin: auto;
}

.formlogin-sm-50 button{
    width: 70%;
    height: 40px;
    border-radius: 15px;
    background-color:rgb(88, 200, 163);
    color: white;
}

.formlogin-sm-50 p{
    text-align: center;
    margin-top: 15px;
    color: aqua;
    font-size: 1.2em;
}
.formlogin-sm-50 a{
    text-decoration: none;
    color: yellow;
}

.formlogin-sm-50 a:hover{
    color: white;
}

/* css for booking historys------------------------------- */

/* css for booking history---------------------------------------------- */

.movie-history-sm-12{
    height: 90vh;
    width: 100vw;
    /* background-color: black; */
    /* display: flex; */
    margin-top: 5px;
    /* justify-content: center; */
    /* align-items: center; */
  }
  


.booking-history-sm-100{
width: 68%;
margin: auto;
height: 95%;

}

.show-history-section{
background-color: rgb(65, 63, 63);
height: 95%;
border-radius: 20px;
padding: 10px 15px;

}

.history-list{
color: black;
/* background-color: white; */
width: 100%;
margin: auto;

}

.history-list table{
width: 100%;
}

.history-list table thead{
border-bottom: 1px solid red;
color: red;
font-weight: bold;

}

.history-list table thead th{
border: 1px solid red;

}


.history-list table th,td{
border-right: 1px solid white;
text-align:center;
height: 30px;

}

.history-list table tbody tr{
color: white;
border-bottom: 1px solid white;
font-size: 0.9em;
}

#watching-movie{
    width: 300px;
}

#seats-names{
    width: 200px;

}


/*---------------------------------------------------- style for bookig-list-admin -0---------------------------------------------------------------------*/

.break-line{
    height: 3px;
    color: black;
}


.admin-history-sm-12{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}


.booking-pending-sm-50{
    width: 49%;
    margin: 2px 6px;
}


.booking-history-sm-50{
    width: 49%;
    margin: 2px 6px;
}

/* style for filtering */


.booking-history-sm-50{
    width: 49%;
    margin: 2px 6px;
}

.movie-filter-section{
    height: 80px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    display: flex;
    background-color: gray;
}

.heading-sm-20{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.heading-sm-20 h4{
    color: white;
}

.filter-sm-80{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.filter-sm-80 form{
    display: flex;
}
.filter-sm-80 form input[type="date"]{
    display: inline;
}

.filter-sm-80 form label{
    font-weight: bold;
    color :white;
    display: inline;
}



.choose-one{
    width: 35%;
    height: 100%;
    margin-left: 15px;
    border-bottom: 2px solid white;
    border-radius: 12px;
    padding: 3px 4px;
}
.filter-sm-80 form button{
    height: 35px;
    width: 180px;
    padding: 5px 6px;
    color: white;
    background-color: rgba(0, 255, 255, 0.652);
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 10px;
    text-align: center;
    margin-top: 3px;
}

