{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- movie detail area start -->

    <div class="movie-detail-sm-12">
      <div class="detail-sm-25">
        <div class="movie-area">
          <img src="img/cinema.jpg" alt="" />
          <p>Now Showing</p>
          <h3 class="movie-name">Movie Name</h3>
          <p class="duration">140 mins</p>
        </div>
        <div class="other-detail">
          <p class="details">
            Shameik MooreHailee SteinfeldOscar IsaacJake JohnsonIssa RaeBrian
            Tyree HenryLuna Lauren VelezRachel DratchShameik MooreHailee
            SteinfeldOscar IsaacJake JohnsonIssa RaeBrian Tyree HenryLuna Lauren
            VelezRachel DratchShameik MooreHailee SteinfeldOscar IsaacJake
            JohnsonIssa RaeBrian Tyree HenryLuna Lauren VelezRachel Dratch
          </p>
          <p>Language : English</p>
          <p>Genre : Drama</p>
          <p class="-movie-casts">
            Cast : Shameik MooreHailee SteinfeldOscar IsaacJake JohnsonIssa
            RaeBrian Tyree HenryLuna Lauren VelezRachel Dratch
          </p>
        </div>
      </div>
      <div class="detail-sm-75 detail-seat-75">

        <div class="detail-heading">
            <h3>
             Choose Seats
            </h3>
            <hr>
        </div>
        <div class="selection-area seat-area">
            <h5>1. Select Seat</h5>
            <div class="screen-site">
            </div>
            <hr class="break-screen">
            <div class="seat-list-sm-12">

              <!-- Frist Line  -->
                <div class="first-row">
                  <span class="row-number">E</span>
                  {% for i in first_row %}
                   <a class = "clickSeat" href="#">
                  <span class="material-symbols-outlined">
                    event_seat 
                    <p style = "font-size:10px; text-align:center; color:cyan; margin-top:3px;">{{i.name}}</p>
                    </span>
                  </a> 
                  {% endfor %}
                </div>

     <!-- Second Line  -->
                <div class="first-row">
                  <span class="row-number">D</span>
                  {% for i in second_row %}
                   <a class = "clickSeat" href="#">
                  <span class="material-symbols-outlined">
                    event_seat 
                    <p style = "font-size:10px; text-align:center; color:cyan; margin-top:3px;">{{i.name}}</p>
                    </span>
                  </a> 
                  {% endfor %}
                </div>

     <!-- Thrid Line  -->
                <div class="first-row">
                  <span class="row-number">C</span>
                  {% for i in third_row %}
                   <a class = "clickSeat" href="#">
                  <span class="material-symbols-outlined">
                    event_seat 
                    <p style = "font-size:10px; text-align:center; color:cyan; margin-top:3px;">{{i.name}}</p>
                    </span>
                  </a> 
                  {% endfor %}
                </div>

     <!-- Fourth Line -->
                <div class="first-row">
                  <span class="row-number">B</span>
                  {% for i in fourth_row %}
                  <a class = "clickSeat" href="#">
                 <span class="material-symbols-outlined">
                   event_seat 
                   <p style = "font-size:10px; text-align:center; color:cyan; margin-top:3px;">{{i.name}}</p>
                   </span>
                 </a> 
                 {% endfor %}
                  
                </div>

     <!-- Fifth Line  -->

                <div class="first-row">
                  <span class="row-number">A</span>
                  {% for i in fifth_row %}
                   <a class = "clickSeat" href="#">
                  <span class="material-symbols-outlined">
                    event_seat 
                    <p style = "font-size:10px; text-align:center; color:cyan; margin-top:3px;">{{i.name}}</p>
                    </span>
                  </a> 
                  {% endfor %}
                </div>

                <!-- Line ends here -->
                
                <hr class="line-break">
            </div>
            <div class="seat-status">
              <div>
                <span class="material-symbols-outlined available">
                  event_seat 
                  </span>
                  <p>Available</p>
                </div>
                <div>
                  <span class="material-symbols-outlined reserved">
                    event_seat 
                    </span>
                    <p>Reserved</p>
                  </div>
                  <div>
                    <span class="material-symbols-outlined sold-out">
                      event_seat 
                      </span>
                      <p>Sold Out</p>
                    </div>
                    <div>
                      <span class="material-symbols-outlined pick-seat">
                        event_seat 
                        </span>
                        <p>Pick Seat</p>
                      </div>
                      
            </div>
            <div class="buy-sm-12">
             <input class = "submitSeat" type="submit" value="Buy Now">
            </div>

           
        </div>

      </div>
    </div>

    <!-- movie detail area end -->



{% endblock %}
