{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- movie detail area start -->

    <div class="movie-detail-sm-12">
      <div class="detail-sm-25">
        <div class="movie-area">
          <img src="{{movie_id.image.url}}" alt="" />
          <p>Now Showing</p>
          <h3 class="movie-name">{{movie_id.name}}</h3>
          <p class="duration">{{movie_id.duration}}</p>
        </div>
        <div class="other-detail">
          <p class="details">
            {{movie_id.details}}
          </p>
          <p>Language : {{movie_id.language}}</p>
          <p>Genre : {{movie_id.genre}}</p>
          <p class="-movie-casts">
            Cast : {{movie_id.cast}}
          </p>
        </div>
      </div>
      <div class="detail-sm-75 detail-seat-75">

        <div class="detail-heading">
            <h3>
             Confirm Booking
            </h3>
            <hr>
        </div>
        <div class="selection-area seat-area">
            <div class="customer-details">
                <h3>Your Details</h3>
                <ul>
                  {% if request.user.is_authenticated %}
                    <li>Name : {{request.user.first_name}}{{user.last_name}}</li>
                    <li>Address : {{user.address}}</li>
                    <li>Phone : {{user.phone}}</li>
                    <li>Email : {{user.email}}</li>
                    {% endif %}
                </ul>
            </div>
           
            <div class="selected-seat">
              <h4>Selected Hall : {{hall.name}}</h4>
            <h4>Selected Seat:</h4>
            {% if seats %}
            <h4>{{seats}}</h4>
            {% endif %}
            <h3 style = "color:brown;">Total Price: {{total}}</h3>
        </div>
            <div class="payment-method">
                <h3>Choose Payment methood</h3>
                <ul>
                  <form type = 'post' action = "{% url 'booking:payment' movie_id.slug d_id.id sh_id.id hall.id %}">
                    {% csrf_token %}
                    {% comment %} <li>E-sewa</li>
                    <li><a href="http://">Khalti</a> </li>
                    <li><a href="http://">PayPal</a> </li> {% endcomment %}
                    <label for="pay">E-sewa : </label>
                    <input type="radio" name="pay" id="esewa" value = "esewa">
                    <label for="pay">Khalti : </label>
                    <input type="radio" name="pay" id="khalti" value = "khalti">
                    <label for="pay">Paypal : </label>
                    <input type="radio" name="pay" id="paypal" value = "paypal">
                
               
                </ul>
                <a href = "{% url 'booking:payment' movie_id.slug d_id.id sh_id.id hall.id %}">
                <button >Book Now</button>
                </a>
                <form>
            </div>

           
        </div>

      </div>
    </div>

    <!-- movie detail area end -->

  
    {% endblock content %}