{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- slider area start  -->
    {% if messages %}
    {% for mess in messages%}


    <h3 style = "color:green; background-color:white; text-align:center; font-weight:bold;" > {{mess}}</h3>
    {% endfor %}
    {% endif %}

    <div id="carouselExampleRide" class="carousel slide slider-sm-12" data-bs-ride="true">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/slider1.png' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/slider2.png' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/slider3.png' %}" class="d-block w-100" alt="...">
          </div>
        </div>
   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-contNow Showingrol-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <!-- slider area ends -->

    <!-- movie section start -->

    <div class="movie-sm-12"> 
      <div class = "showing-sm-70">
        <div class="now-showing">
        <div class="heading-sm-12">
          <p class="heading">Now Showing</p>
        </div>
        <div class="movie-list">
          {% for show in showing %}
          <div class="list"> 
            <a href = "{% url 'movie:movie-detail' show.slug %}"> 
            <img src="{{show.image.url}}" alt="">
            <p class="name">{{show.name}}</p>
          </div>
        </a>
          {% endfor %}
        </div>
    </div>

        <div class="coming-soon">
        <div class="heading-sm-12">
          <p>Recommended Movie</p>
        </div>
        <div class="movie-list">
          {% for soon in recommended %}
          <div class="list"> 
            <a href = "{% url 'movie:movie-detail' soon.slug %}"> 
            <img src="{{soon.image.url}}" alt="">
            <p class="name">{{soon.name}}</p>
          </a>
          </div>
          {% endfor %}
        </div>
    </div>
    </div>
    
    <div class = "upcoming-sm-30">
      <div class="upcoming-soon">
        <div class="heading-sm-12">
          <p>Coming Soon</p>
        </div>
        <div class="movie-list-upcoming">
          {% for soon in coming %}
          <div class="list-upcoming"> 
            <a href = "{% url 'movie:movie-detail' soon.slug %}"> 
            <img src="{{soon.image.url}}" alt="">
            <p class="name">{{soon.name}}</p>
          </a>
          </div>
          {% endfor %}
        </div>
    </div>
    </div>
    </div>
  </div>
    <!-- movie section end -->

    {% endblock content %}


