{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- movie section start -->

    <div class="movie-sm-12">
        <div class="now-showing">
        <div class="heading-sm-12">
          <p class="heading">Now Showing</p>
        </div>
        <div class="movie-list">
          {% for show in showing %}
          <div class="list"> 
            <a href = "{% url 'movie:movie-detail' show.slug %}"> 
            <img src="{{show.image.url}}" alt="">
            <p class="name">{{show.name}}</p>
          </div>
        </a>
          {% endfor %}

        </div>
    </div>

        <div class="coming-soon">
        <div class="heading-sm-12">
          <p>Coming Soon</p>
        </div>
        <div class="movie-list">
          {% for  comm in coming %}
          
          <div class="list"> 
            <a href = "{% url 'movie:movie-detail' comm.slug %}"> 
            <img src="{{comm.image.url}}" alt="">
            <p class="name">{{comm.name}}</p>
            </a>
          </div>
          {% endfor %}
          {% comment %} <div class="list"> 
            <img src="img/cinema.jpg" alt="">
            <p class="name">Movie Name</p>
          </div>
          <div class="list"> 
            <img src="img/cinema.jpg" alt="">
            <p class="name">Movie Name</p>
          </div>
          <div class="list"> 
            <img src="img/cinema.jpg" alt="">
            <p class="name">Movie Name</p>
          </div>
          <div class="list"> 
            <img src="img/cinema.jpg" alt="">
            <p class="name">Movie Name</p>
          </div> {% endcomment %}
        </div>
    </div>
    </div>
    <!-- movie section end -->

    {% endblock content %}


