{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- movie detail area start -->
    {% if messages %}
    {% for mess in messages%}

{% if mess.tags == 'error '%}
    <h3 style = "color:red; background-color:white; text-align:center; font-weight:bold;" > {{mess}}</h3>
    {% elif mess.tags == 'success' %}
    <h3 style = "color:green; background-color:white; text-align:center; font-weight:bold;" > {{mess}}</h3>
    {% else %}
    <h3 style = "color:green; background-color:white; text-align:center; font-weight:bold;" > {{mess}}</h3>
{% endif %}

    {% endfor %}
    {% endif %}

    <div class="movie-detail-sm-12">
      <div class="detail-sm-25">
        <div class="movie-area">
          <img src="{{details.image.url}}" alt="" />
          <p>{{details.status}}</p>
          <h3 class="movie-name">{{details.name}}</h3>
          <p class="duration">{{details.duration}} mins</p>
          <p class="like">{{like_count}} Likes <a href = "{% url 'movie:like' details.slug %}"> <span style = "display:inline;" class="material-symbols-outlined">
            thumb_up
            </span> </a></p> 

        </div>
        <div class="other-detail">
          <p class="details">
            {{details.detail}}
          </p>
          <p>Language : {{details.language}}</p>
          <p>Genre : {{details.genre}}</p>
          <p class="-movie-casts">
            Cast : {{details.cast}}
          </p>
        </div>
      </div>
      {% if details.status == 'showing' %}
      <div class="detail-sm-75">

        <div class="detail-heading">
            <h3>
              Now Showing
            </h3>
            <hr>
        </div>
        <div class="selection-area">
            <h5>1. Select Date and TIme Slots</h5>

            <div class="select-date">
              {% if dates %}
                <h5>Select Date</h5>
                <div class="dates">
                  {% for d in dates %}
                   <div class="mydate">
                        <h5>{{d.show_date}}</h5>
                        <a href="{% url 'movie:cinemahall' d.id details.slug %}">
                <div class="adjust-date">
                    <p>July{{d.show_date.month}} <br><span class="date-number">{{d.show_date.day}} </span> <br> {{d.show_date.year}}</p>
                </div>
            </a>
            </div>
            {% endfor %}
          </div>
          {% endif %}
            <br>
            <div class="dates">
              {% if selected_date %}
                  <h5>Selected Date :<span style = "color:yellow;"> {{selected_date.show_date}} </span> </h5>
                  
                  {% endif %}
            </div>

            </div>
{% if hall_name %}
            <div class="select-time">
                <h5>Select Cinema Hall</h5>

                <div class="available-time">
                    <ul>
                      {% for h in hall_name %}
                      <li><a href = "{% url 'movie:showtime' d_id h.id details.slug %}">{{h.name}}</a></li>
                      {% endfor %}
                    </ul>
                </div>
            </div>
            {% else %}
            ...
            {% endif %}
        </div>

      </div>
      {% else %}
      <h3> Coming Soon </h3>
      {% endif %}
    </div>

    <!-- movie detail area end -->



{% endblock %}