{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- regiser area start  -->
    {% if messages %}
    {% for mess in messages%}


    <h3 style = "color:green; background-color:white; text-align:center; font-weight:bold;" > {{mess}}</h3>
    {% endfor %}
    {% endif %}

        <div class="profile-sm-12">
            <div class="formpro-sm-50">
                <h3>Update Your Profile </h3>
                <hr class="line-break1">
                <form class="formpro-sm-12" method = 'post' novalidate>
                    {% csrf_token %}

                    {% for form in fm %}
                    <label>{{form.label_tag}}</label>   <span id = "error-messages">{{ form.errors|striptags}}</span>
                    {% comment %} {% if form.errors %} {% endcomment %}
                 
                    {% comment %} {% endif %} {% endcomment %}
                    {{form}}
                    {% endfor %}


                    {% comment %} <label for="username">Username : </label> <span id = "error-messages">This field in required</span>
                    <input type="text" name="username" id="username" placeholder="Enter Username">
                    <label for="f_name">First Name : </label>
                    <input type="text" name="f_name" id="f_name" placeholder="Enter First Name">
                    <label for="l_name">Last Name : </label>
                    <input type="text" name="l_name" id="l_name" placeholder="Enter Last name">
                    <label for="email">Email : </label>
                    <input type="email" name="email" id="email" placeholder="Enter email">
                    <label for="password">Password : </label>
                    <input type="password" name="password" id="password" placeholder="Enter password">
                    <label for="cpassword">Confirm Password : </label>
                    <input type="password" name="cpassword" id="cpassword" placeholder="Enter cpassword"> {% endcomment %}

                    <button type = 'submit'>Submit</button>
                </form>
                <p><a href="#">Calcel</a> </p>
            </div>

        </div>

    <!-- register area end -->


{% endblock %}
