{% extends 'base.html' %} {% load static %} {% block content %}

<!-- movie detail area start -->

<div class="movie-detail-sm-12">
  <div class="detail-sm-25">
    <div class="movie-area">
      <img src="{{details.image.url}}" alt="" />
      <p>Now Showing</p>
      <h3 class="movie-name">{{details.name}}</h3>
      <p class="duration">140 mins</p>
    </div>
    <div class="other-detail">
      <p class="details">{{details.detail}}</p>
      <p>Language : {{details.language}}</p>
      <p>Genre : {{details.genre}}</p>
      <p class="-movie-casts">Cast : {{details.cast}}</p>
    </div>
  </div>

  <div class="detail-sm-75 detail-seat-75">
    <div class="detail-heading">
      <div class="message" style=" height: 25px; width: 100%; font-size: 1em; display: block;">
        <h5 id="seat-message" style="background-color: green; color: white; font-weight: bold;">
      </div>
      </h5>
      <h3>Choose Seats</h3>

      <hr />
    </div>
    <div class="selection-area seat-area">
<h3 style="color: yellow; position: absolute; display: inline; width: 50%; text-align: center; ">Recommended Seat for you :{% for seat in recommended_seat%}{{seat.name}} {% endfor %} </h3>
      <h5 style="color: yellow; font-size:0.9em;">Selected Seat : <span id="selected-seat">{{seats}}</span></h5>  
      <h5 style="color: yellow; font-size:0.9em;">Selected Date : <span id="selected-date">{{dates}}</span>
      </h5>
      <h5 style="color: yellow; font-size:0.9em;">Selected Hall : <span id="selected-hall">{{hall_name.name}}</span>
      </h5>
      <h5 style="color: yellow; font-size:0.9em;">Selected Showtime : <span id="selected-showtime">{{showtime}}</span>
      </h5>
      <h5 style="color: yellow; font-size:0.9em;">Price : <span id="total-price">{{total}}</span></h5>
      <div class="screen-site"></div>
      <hr class="break-screen" />
      <div class="seat-list-sm-12">
        <!-- Frist Line  -->

        <div class="first-row row">
          <span class="row-number">E</span>
          {% for i in first_row %}
          <a>
            <span {% if i.} class="material-symbols-outlined"
             data-seat-id="{{i.id}}"
              data-date-id="{{dates.id}}"
              data-showtime-id="{{showtime.id}}" data-details-slug="{{details.slug}}" data-hall-id="{{hall_name.id}}">
              event_seat
              <p class="" style="
                  font-size: 10px;
                  text-align: center;
                  color: cyan;
                  margin-top: 3px;
                ">
                {{i.name}}
              </p>
            </span>
          </a>
          {% endfor %}
        </div>

        <!-- Second Line  -->
        <div class="first-row row">
          <span class="row-number">D</span>
          {% for i in second_row %}
          <a>
            <span class="material-symbols-outlined" data-seat-id="{{i.id}}" data-date-id="{{dates.id}}"
              data-showtime-id="{{showtime.id}}" data-details-slug="{{details.slug}}" data-hall-id="{{hall_name.id}}">
              event_seat
              <p style="
                  font-size: 10px;
                  text-align: center;
                  color: cyan;
                  margin-top: 3px;
                ">
                {{i.name}}
              </p>
            </span>
          </a>
          {% endfor %}
        </div>

        <!-- Thrid Line  -->
        <div class="first-row row">
          <span class="row-number">C</span>
          {% for i in third_row %}
          <a>
            <span class="material-symbols-outlined" data-seat-id="{{i.id}}" data-date-id="{{dates.id}}"
              data-showtime-id="{{showtime.id}}" data-details-slug="{{details.slug}}" data-hall-id="{{hall_name.id}}">
              event_seat
              <p style="
                  font-size: 10px;
                  text-align: center;
                  color: cyan;
                  margin-top: 3px;
                ">
                {{i.name}}
              </p>
            </span>
          </a>
          {% endfor %}
        </div>

        <!-- Fourth Line -->
        <div class="first-row row">
          <span class="row-number">B</span>
          {% for i in fourth_row %}
          <a>
            <span class="material-symbols-outlined" data-seat-id="{{i.id}}" data-date-id="{{dates.id}}"
              data-showtime-id="{{showtime.id}}" data-details-slug="{{details.slug}}" data-hall-id="{{hall_name.id}}">
              event_seat
              <p style="
                  font-size: 10px;
                  text-align: center;
                  color: cyan;
                  margin-top: 3px;
                ">
                {{i.name}}
              </p>
            </span>
          </a>
          {% endfor %}
        </div>

        <!-- Fifth Line  -->

        <div class="first-row row">
          <span class="row-number">A</span>
          {% for i in fifth_row %}
          <a>
            <span class="material-symbols-outlined" data-seat-id="{{i.id}}" data-date-id="{{dates.id}}"
              data-showtime-id="{{showtime.id}}" data-details-slug="{{details.slug}}" data-hall-id="{{hall_name.id}}">
              event_seat
              <p style="
                  font-size: 10px;
                  text-align: center;
                  color: cyan;
                  margin-top: 3px;
                ">
                {{i.name}}
              </p>
            </span>
          </a>
          {% endfor %}
        </div>

        <!-- Line ends here -->

        <hr class="line-break" />
      </div>
      <div class="seat-status">
        <div>
          <span class="material-symbols-outlined available"> event_seat </span>
          <p>Available</p>
        </div>
        <div>
          <span class="material-symbols-outlined reserved"> event_seat </span>
          <p>Reserved</p>
        </div>
        <div>
          <span class="material-symbols-outlined sold-out"> event_seat </span>
          <p>Sold Out</p>
        </div>
        <div>
          <span class="material-symbols-outlined pick-seat"> event_seat </span>
          <p>Pick Seat</p>
        </div>
      </div>
      <div class="buy-sm-12">
        <a href="{% url 'booking:booking' details.slug showtime.id hall_id %}"><input type="submit"
            value="Buy Now" /></a>
      </div>
    </div>
  </div>
</div>

<!-- movie detail area end -->

{% endblock %}